body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://images.unsplash.com/photo-1670434846352-23e8f0e28c16?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1228&q=80');
    background-size: cover;
}

.login-box {
    width: 330px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #222;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
}

.login-box h1 {
    color: #fff;
    text-align: center;
    font-size: 24px;
    margin-top: 0;
}

.login-box p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login-box input[type="button"] {
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.login-box input[type="button"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.login-box a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.login-box a:hover {
    text-decoration: underline;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.log-out {
    float: right;
    margin: 30px 30px;
}

.log-out button img {
    height: 24px;
}

.log-out button {
    width: 100px;
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
}

.log-out button:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}